// ZOOM
.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

// GROW
.grow-enter-active,
.grow-leave-active {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: grow;
}

.grow-leave-active {
  animation-direction: reverse;
}

@keyframes grow {
  from {
    height: 0px;
    width: 0px;
  }

  100% {
    height: 400px;
    width: 400px;
  }
}
